body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fff; /* White background */
}

header {
    background-color: #000; /* Black bar on top */
    height: 10px; /* Adjust the height if u need to */
}

.container {
    margin-top: 100px;
}

h1 {
    font-size: 48px; /* font size */
    color: #333; /* Dark gray text color */
}

p {
    font-size: 24px; /* font size */
    color: #555; /* darker gray text color */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000; /* Black button */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 24px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn:hover {
    background-color: #333; /* Dark gray on hover */
    box-shadow: 5px 0 0 0 #888; /* Gray shadow sliding right on hover */
}
