body {
    font-family: Arial, sans-serif;
    background-image: url('Screenshot_3.png'); /* Replace 'your-image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background to the content area */
    border-radius: 10px; /* Add some rounded corners for the content area */
}

h1 {
    font-size: 36px;
    color: #333;
}

p {
    font-size: 24px;
    color: #666;
}
